{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="container-fluid">
    <div class="fixed-top" style="top: 7rem; margin-left: 18rem;">
      <div style="height: 600px;overflow-y: scroll;">
  
        <div class="row container-fluid">
            <div class="col-md-3"><a class="text-white" style="font-size: 2rem;">All Items</a></div>
        </div>    
  
        <div class="row container-fluid mb-3">
          <div class="col-md-3">
            <input type="text" id="searchInput" class="form-control bg-light text-dark" placeholder="Search.." autocomplete="off">
          </div>
          
          <div class="col-md-2">
            <div class="btn-group " role="group"  style="display:inline-flex;width:5.1rem;height:2.4rem;">
              <button id="btnGroupDrop1" type="button" class="btn btn-outline-warning"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i  class="fas fa-sort m-1"></i>
              </button>
              <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <a class="dropdown-item text-white" href="#"  data-sort="all">All</a>
                <a class="dropdown-item text-white" href="#"  data-sort="name">Name</a>
                <a class="dropdown-item text-white" href="#"  data-sort="HSN">HSN/SAC</a>
                {% comment %} <a class="dropdown-item text-white" href="#"  data-sort="usage">Usage Unit</a> {% endcomment %}
                {% comment %} <a class="dropdown-item text-white" href="#" id="sortByName">Name</a>
                <a class="dropdown-item text-white" href="#" id="sortByHSN">HSN</a>
                <a class="dropdown-item text-white" href="#" id="sortByUsageUnit">Usage Unit</a> {% endcomment %}
              </div>
          </div>
          <div class="col-md-4"></div>
          <div class="col-md-3">
  
             <div class="btn-group buttonDiv" role="group"  style="margin-top:-3.7rem;display:inline-flex;height:2.9rem;margin-left: 600px;">
              <button id="btnGroupDrop1" type="button" class="btn btn-outline-warning" style="border-radius: 5px;width: 60px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-filter mt-1"></i>
              </button>
              <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <a class="dropdown-item text-white" href="#" id="filterAllButton">All</a>
                <a class="dropdown-item text-white" href="#" id="filterActiveButton">Active</a>
                <a class="dropdown-item text-white" href="#" id="filterInactiveButton">Inactive</a>
              </div>
              <a style="border: 1px solid; border-radius: 5px; height: 2.9rem; display: flex; align-items: center;margin-left: 10px;" onclick="reduce_dash()" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-outline-warning"  href="">
                <i class="fa fa-file-excel-o p-1" style="font-size: large;"></i>
                <span style="font-size: 2vh; margin-left: 0.5rem;" class="text-center">Import</span>
            </a>
            <a style="border: 1px solid; border-radius: 5px; height: 2.9rem; display: flex; align-items: center;margin-left: 10px;" onclick="exportToExcel()"0 class="btn btn-outline-warning" >
              <i class="fa fa-file-excel-o p-1" style="font-size: large;"></i>
              <span style="font-size: 2vh; margin-left: 0.5rem;" class="text-center">Export</span>
          </a>
          <a style="border: 1px solid; border-radius: 5px; height: 2.9rem; display: flex; align-items: center;margin-left: 10px;" class="btn btn-outline-warning" href="">
            <i class="fa fa-plus" style="font-size: large;"></i>
            <span style="font-size: 2vh; margin-left: 0.5rem;" class="text-center"></span>
        </a>
            </div>
          </div>
        </div>
            
        <div class="row container-fluid">
          <div class="col-sm-12 col-md-11 col-lg-11">
            <table class="table  text-white" id="myTable">
              <thead>
                <tr>
                  <th style="text-align: center;">NAME</th>
                  <th style="text-align: center;">HSN/SAC</th>
                  <th style="text-align: center;">SALES RATE</th>
                  <th style="text-align: center;">PURCHASE RATE</th>
                  <th style="text-align: center;">STOCK ON INVENTORY</th>
                  <th style="text-align: center;">USAGE UNIT</th>
                  <th style="text-align: center;">STATUS</th>
                </tr>
              </thead>
              <tbody>
                {% for v in view %}
                  <tr id="over" class='clickable-row' data-href="detail/{{ v.id }}" data-status="{{ v.satus }}">
                    <td style="text-align: center;">{{ v.Name }}</td>
                    <!-- <td style="text-align: center;" onclick="location.href ='' " > {{v.Name}}</td> -->
                    <td style="text-align: center;">{{ v.hsn }}</td>
                    <td style="text-align: center;">{{ v.s_price }}</td>
                    <td style="text-align: center;">{{ v.p_price }}</td>
                    <td style="text-align: center;">{{ v.stock }}</td>
                    <td style="text-align: center;">{{ v.unit.unit }}</td>
                    <td style="text-align: center;">{{ v.satus }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="0" aria-labelledby="exampleModalLabel" aria-hidden="true" style="z-index: 10;">
        <div class="modal-dialog">
          <div style="background-color: rgb(63, 63, 63);width: 40rem;" class="modal-content">
            <!-- <div class="modal-header">
              
            </div> -->
            <div class="modal-body">
              <div class="d-flex justify-content-between">
                <h1 class="modal-title fs-5 " id="exampleModalLabel">Import From Excel</h1>
                <button type="button" class="btn-close text-light" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              {% comment %} <hr class="mb-3">
              <label class="text-danger fw-bold pb-2" for="">Fields needed to be filled are</label>
              <div style="overflow-x: auto;">
                <table class="table table-bordered border-secondary">
                  <thead>
                    <th class="text-light">NAME</th>
                    <th class="text-light">DESCRIPTION</th>
                    <th class="text-light">SALES RATE</th>
                    <th class="text-light">PURCHASE RATE</th>
                    <th class="text-light">HSN/SAC</th>
                    <th class="text-light">STOCK ON INVENTORY</th>
                    <th class="text-light">USAGE UNIT</th>
                    <th class="text-light">STATUS</th>
                  </thead>
                </table>
                <p></p>
              </div>
              <hr> {% endcomment %}
              <form action="" method="POST" enctype="multipart/form-data">
                {% comment %} {% csrf_token %}
                <label style="color: rgb(152, 152, 255);" class=" fw-bolder" for="">Download Sample Excel File</label>
                    <a class="btn btn-outline-warning ms-5" href="">Download</a> {% endcomment %}
                   <hr>
                    <input class="form-control bg-dark" type="file" name="excel_file">
                    <hr>
                    <div class="d-flex justify-content-end">
                      <button type="button" class="btn bt-lg btn-secondary me-2" data-bs-dismiss="modal">Cancel</button>
                      <button type="submit" class="btn bt-lg btn-primary">Import</button>
                    </div>
                </div>
                <br>
            </form>
            <!-- <div class="modal-footer">
              
            </div> -->
          </div>
        </div>
      </div>
  </div>
   </div>
   </div>
   </div>
   </div>
   </div>
   

{% endblock %}